<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Epic 7 Review</title>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/review.css" />
    <script src="../../scripts/review.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="navigation">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/">GameReviewer<i class="fas fa-gamepad"></i></a>
          </div>
          <nav>
            <a href="#story">Story</a>
            <a href="#gameplay">Gameplay</a>
            <a href="#library">Image Library</a>
            <a href="#review">Review</a>
            <a href="#posts">Previous Posts</a>
          </nav>
        </div>
      </header>
    </section>

    <section
      class="banner"
      style="
        background-image: url(images/banners/epic7_wallpaper.png);
        background-position: center;
        background-repeat: no-repeat;
        padding: 35em;
      "
    >
      <h1 class="title">
        <a href="https://epic7.smilegatemegaport.com/" target="_blank"
          >Epic Seven</a
        >
      </h1>
    </section>

    <section class="descriptions">
      <div class="content" id="story">
        <h1>Story</h1>
        <h2>Settings</h2>
        <blockquote>
          <p>
            During the events of a celestial war, the Goddess Diche breaks away
            from the war after her brother Orbis dies. She builds a world on the
            body of Orbis, creating the world that Epic Seven takes place in.
            However, her other brother IIyros disagrees with her leaving the war
            and attempts to bring her back by sending the Archdemon to destroy
            the world that she created. To counter this, Diche creates heirs,
            people with more power than the average residents of Orbis. She also
            creates guardians to aid the heirs in defeating the Archdemon. She
            creates a heir to represent herself, Ras Eclare, who is named The
            Heir of the Covenant. Every time the heirs fail to defeat the
            Archdemon, she 'resets' the world by fixing the destruction and
            wiping everybody's minds of the defeat. The Heir of the Covenant and
            the heirs with him, Ruele and Kise are preparing for the fight with
            the Archdemon. Their comrade Vildred, who has been travelling with
            them thus far decides to stay back to clear the monsters and urges
            the heirs to defeat the Archdemon. Unbeknownst to the heirs, Acolyte
            Kayron appears before Vildred before killing him whilst he was
            fighting. The heirs travel ahead and begin fighting the Archdemon.
            However, during the fight, Ruele is killed after her barrier is
            shattered by the Archdemon. The fight suddenly flips around after
            the Archdemon killed Ruele and all the heirs are killed in the
            fight. Diche resets the 6th world, and creates the current scenario,
            the 7th world.
          </p>
        </blockquote>

        <h2>Plot</h2>
        <blockquote>
          <p>
            Two decades later, Ras wakes up in the World's End Pub, surrounded
            by the bar owners. He is told that he had slept for the past twenty
            years and was moved to the pub due to the lack of funding to keep
            him in the Tirel Castle. He is greeted by Vildred, who is
            suspiciously still alive and noted by Ras that he hasn't changed his
            appearance since the battle with the Archdemon. Vildred escorts Ras
            to Tirel Castle, meeting the young Prince Aither and one the heirs
            Iseria. Together, they find his guardian Arkasus, who has been
            living off snacks for the past two decades. Arriving at Tirel
            Castle, Ras is granted an audience with Queen Diene, the person who
            ended the Archdemon War. Diene explains that she merely separated
            the Archdemon into parts, with them all being held in sanctums in
            different areas of Ritania. She offers to take Ras to the Ezeran
            Sanctum the next day to destroy the Archdemon's Might held there.
            Before turning in for the night, Ras meets a wraith hanging around
            the gardens in Tirel Castle. She tells Ras that her name is Mercedes
            and is being kept at Tirel Castle under the hospitality of the
            Queen. The next day, the party sets out for the Sanctum accompanied
            by Vildred and Mercedes. However, tragedy strikes when Vildred kills
            Diene after Ras tells Vildred his resolve to keep opposing the
            threat of the Archdemon. Vildred absorbs the Archdemon's Might and
            escapes as a traitor to Ezera.
          </p>
        </blockquote>
      </div>

      <div class="content" id="gameplay">
        <h1>Gameplay</h1>
        <blockquote>
          <p>
            Epic Seven is a free-to-play 2D RPG available on iOS and Android
            platforms. Control a variety of characters as you explore the game's
            world through its adventure mode, which is brought to life with
            anime cutscenes that detail the game story as well as individual
            character special attacks. Notably, the game has very few loading
            screens, which stands out from other mobile RPGs. It features a
            gacha system similar to games such as Fate/Grand Order and Granblue
            Fantasy where players can randomly summon heroes to join their
            party. The combat centers around a side-scrolling map with monster
            and boss encounters that offer turn-based battling with a variety of
            skills. Using each character's skills allows players to acquire
            souls, which lets players summon powerful guardians or use the Soul
            Burn mechanic to boost their character attacks. The game also
            features a sanctuary which generates currency, a summoning feature
            that allows re-rolls, map exploration, character equipment, and
            more.
          </p>
          <p> Epic Seven Key Features:
            <ul>
              <li>Varied Character Cast – recruit, unlock, and summon a wide variety of voiced heroes that fall under different classes, including: Mage, Soul Weaver, and Knight.</li>
              <li>Engaging Storyline – play through the game's story for an exciting adventure to banish evil forever, while meeting and forming relationships with characters on your way.</li>
              <li>Epic Anime-Styled Graphics – the game offers some of the highest quality anime graphics available, as if players were playing an anime.</li>
              <li>PvE and PvP Content – play the game's Adventure mode, enter the Labyrinth, and send your team out on Expeditions, or join the game's AI-controlled PvP mode by entering the Arena.</li>
              <li>Real Time PvP Challenges – challenge your friends and foes in real-time duels that pit your strategies against each other, allowing players to test their might.</li>
              <li>Customize your Team - Build a unique team of 4 characters, each with a set of upgradeable equipment and a unique trust/friendship system with other characters.</li>
            </ul>
          </p>
        </blockquote>
      </div>
    </section>

    <h1>Image Library</h1>
    <section id="library">
      <div class="slider">
        <div class="images">
          <input type="radio" name="slide" id="img1" />
          <input type="radio" name="slide" id="img2" />
          <input type="radio" name="slide" id="img3" />
          <input type="radio" name="slide" id="img4" />
          <input type="radio" name="slide" id="img5" />
          <input type="radio" name="slide" id="img6" />

          <img
            src="images/cgg/epic7/0.jpg"
            class="m1"
            alt="img1"
            checked
          />
          <img src="images/cgg/epic7/1.jpg" class="m2" alt="img2" />
          <img src="images/cgg/epic7/2.jpg" class="m3" alt="img3" />
          <img src="images/cgg/epic7/3.jpg" class="m4" alt="img4" />
          <img src="images/cgg/epic7/4.jpg" class="m5" alt="img5" />
          <img src="images/cgg/epic7/5.jpg" class="m6" alt="img6" />
        </div>
        <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
          <label for="img5"></label>
          <label for="img6"></label>
        </div>
      </div>
    </section>

    <form id="review" class="form" action="/review5" method="POST" )>
      <h1>Leave a review</h1>
      <div class="username">
        <h2>Username</h2>
        <input
          type="text"
          placeholder="Enter the name you want to display (more than 8 and less than 50 characters)"
          name="username"
          size="100"
          minlength="8"
          maxlength="50"
          autocomplete="off"
          required
        />
      </div>
      <div class="review">
        <h2>Your review</h2>
        <textarea
          type="text"
          placeholder="Leave your own impression of the game! (more than 50 and less than 1000 characters)"
          name="review"
          minlength="50"
          maxlength="1000"
          required
          rows="10"
          cols="200"
        ></textarea>
        <button class="review border-gradient border-gradient-purple" type="submit">
          Submit
        </button>
      </div>
    </form>

    <section id="posts">
      <h1>Reviews</h1>
      <ul class="review5">
        <% for(var i = reviews.length - 1; i >= 0; i--) {%>
        <li class="review5">
          <div class="comment-name-box">
            <span class="comment-name"><%= reviews[i].username %></span>
          </div>
          <pre class="comment-content"><%= reviews[i].review %></pre>
          <div class="comment-statistics">
            <button value="upvote" class="likes" id="upvote_<%=reviews[i]._id%>" onclick="upvote5('<%= reviews[i]._id %>')">
              <i class="fas fa-angle-double-up"></i> Upvotes <%= reviews[i].likes %>
            </button>
            <button value="upvote" class="dislikes" id="downvote_<%=reviews[i]._id%>" onclick="downvote5('<%= reviews[i]._id %>')">
              <i class="fas fa-angle-double-down"></i> Downvotes <%= reviews[i].dislikes %>
            </button>
          </div>
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
