<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pokemon Sword and Shield Review</title>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/review.css" />
    <script src="../../scripts/review.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="navigation">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/">GameReviewer<i class="fas fa-gamepad"></i></a>
          </div>
          <nav>
            <a href="#story">Story</a>
            <a href="#gameplay">Gameplay</a>
            <a href="#library">Image Library</a>
            <a href="#review">Review</a>
            <a href="#posts">Previous Posts</a>
          </nav>
        </div>
      </header>
    </section>

    <section
      class="banner"
      style="
        background-image: url(images/banners/pokemon_wallpaper.png);
        background-position: center;
        background-repeat: no-repeat;
        padding: 35em;
      "
    >
      <h1 class="title">
        <a href="https://swordshield.pokemon.com/en-us/" target="_blank"
          >Pokemon Sword and Shield</a
        >
      </h1>
    </section>

    <section class="descriptions">
      <div class="content" id="story">
        <h1>Story</h1>
        <h2>Settings</h2>
        <blockquote>
          <p>
            Sword and Shield take place in the Galar region, a large, narrow
            expanse of land and one of many regions in the Pokémon world. Game
            director Shigeru Ohmori described it as a more modern setting. The
            region itself is inspired by Great Britain, with its many landmarks
            resembling places such as the Houses of Parliament and the Cerne
            Abbas Giant. Within the Galar region lie countryside towns featuring
            cottages and Victorian architecture to the south. An Industrial
            Revolution-like city with steampunk-style elements populates the
            center of the region. Many of the region's towns and cities feature
            Pokémon Gyms stylized like football stadiums, which show off both
            Dynamaxing and Gigantamaxing, implemented by the Galar Pokémon
            League Chairman, Rose. Snow-covered mountains dominate much of the
            northern areas of the region. Encompassing a large portion of the
            south-central part of the region is the Wild Area, an open world
            area with numerous roaming Pokémon species. Weather across the Wild
            Area changes regularly. Like with Pokémon Sun and Moon, Pokémon
            previously introduced in older games, such as Weezing, gain regional
            Galarian Forms with new typings, stats, and appearances. Some
            Pokémon, such as Linoone and Meowth, even gain regional evolutions.
          </p>
        </blockquote>

        <h2>Plot</h2>
        <blockquote>
          <p>
            Similar to many previous entries in the Pokémon franchise, players
            embark on a journey across the region to become the strongest
            trainer, fighting eight powerful trainers called Gym Leaders and
            eventually the region's Champion. The player and their best friend,
            Hop, receive one of three starter Pokémon: Grookey, Scorbunny, or
            Sobble from Leon, Champion of the Galar region and Hop's older
            brother. Afterward, the two explore a forest called the Slumbering
            Weald but are driven off by a powerful Pokémon. During their
            subsequent visit to the region's Pokémon Professor, Magnolia and her
            granddaughter Sonia, they convince Leon to endorse them to take part
            in the Gym Challenge. After traveling to the next city to register
            for the Gym Challenge, they encounter rivals Bede and Marnie along
            with Team Yell, a devout group of hooligans who act as Marnie's
            unintentional fanbase and are determined to stop anyone else from
            completing the Challenge. The player also meets Chairman Rose, As
            their quest continues, the player assists Sonia in her research on
            two Legendary Pokémon who saved Galar from an ancient crisis called
            the Darkest Day and deduce that they are the same Pokémon previously
            encountered in the Slumbering Weald. After beating the 8 Gym
            Leaders, including Piers, Marnie's older brother and the leader of
            Team Yell, the player makes their way to Wyndon where they win the
            Champion's Cup, earning an opportunity to battle Leon. The next day,
            before the battle between the player and Leon can commence, Chairman
            Rose awakens the legendary Pokémon Eternatus in an attempt to
            harness its power to provide unlimited energy to Galar,
            inadvertently triggering a second Darkest Day. The player and Hop
            return to the Slumbering Weald and secure the aid of the legendary
            Pokémon, Zacian and Zamazenta, to defeat Chairman Rose and
            Eternatus, after which the player catches Eternatus. The player then
            faces and defeats Leon in a battle and becomes the new Champion of
            the Galar region. After defeating Leon, the player and Hop return to
            the Slumbering Weald to return Zacian and Zamazenta's artifacts to
            their rightful place. The two also meet Sonia, who has become the
            Galar region's new Pokémon Professor. However, they are confronted
            by Sordward and Shielbert, two brothers claiming to be descendants
            of ancient Galarian kings. The two steal one of the relics and begin
            forcing innocent Pokémon to Dynamax. The player, Hop, and Piers work
            with the Gym Leaders to subdue the Dynamax Pokémon and then track
            down and confront the brothers. They use Dynamax energy to drive
            Zamazenta (in Sword) or Zacian (in Shield) berserk, and the player
            drives them off with the help of Zacian (in Sword) or Zamazenta (in
            Shield). They then are challenged to a battle by the Legendary
            Pokémon and allowed to catch it, while Hop follows Zamazenta/Zacian
            back to the Slumbering Weald and calms it down, being chosen by it
            as its Trainer. The player and Hop have a final battle, after which
            Hop decides to be a Pokémon Professor and becomes Sonia's assistant
            who, in addition to endorsing Bede as a Gym Challenger, presides
            over the Galar Pokémon League and the region's main energy company.
          </p>
        </blockquote>
      </div>

      <div class="content" id="gameplay">
        <h1>Gameplay</h1>
        <h2>Old Features</h2>
        <blockquote>
          <p>
            Pokémon Sword and Shield are role-playing video games with adventure
            elements, and in most cases it is presented in a fixed camera,
            third-person perspective; in certain instances free camera movement
            is available. The player controls a young trainer who goes on a
            quest to catch and train creatures known as Pokémon, and win battles
            against other trainers. By defeating opposing Pokémon in turn-based
            battles, the player's Pokémon gains experience, allowing them to
            level up and increase their battle statistics, learn new battle
            techniques, and in some cases, evolve into more powerful Pokémon.
            Players can capture wild Pokémon, found during wild encounters, by
            weakening them in battle and catching them with Poké Balls, allowing
            them to be added to their party. Players are also able to battle and
            trade Pokémon with other human players using the Nintendo Switch
            connectivity features. As with previous games in the series, certain
            Pokémon are only obtainable in either Sword or Shield, with players
            encouraged to trade with others in order to obtain all Pokémon from
            both versions.
          </p>
          <p>
            Sword and Shield takes place in the Galar region, based on the
            United Kingdom. As with all regions, Galar consists of a number of
            cities and towns connected by "Routes"; however, there is also an
            open world area in the center of the region known as the "Wild
            Area", a concept new to the series. Random encounters with wild
            Pokémon may take place in tall grass or in bodies of water along
            routes or in the Wild Area. Wild Pokémon may also be encountered
            outside of tall grass and elsewhere in the environment, and may
            chase or run away from the player depending on their disposition.
            The player occasionally battles Trainers in cities, towns, along
            routes, and in the Wild Area. The driving force bringing the player
            to travel around the Galar region is to take part in the "Gym
            Challenge", an open-tournament to decide the greatest Pokémon
            Trainer in the region, dubbed the Champion. Eight of the game's
            cities and towns are homes to stadiums housing "Gym Leaders",
            powerful Trainers specializing in certain types of Pokémon; beating
            a Gym Leader gives the player a "Badge". After attaining eight
            Badges the player will be able to take part in the "Champion Cup",
            where they will face off in a single-elimination tournament against
            the previously faced Gym Leaders and other Trainers remaining in the
            Gym Challenge. After emerging victorious the player will face the
            Champion of the Galar region.
          </p>
        </blockquote>

        <h2>New Features</h2>
        <blockquote>
          <p>
            Several new features for the games are also firsts for the series,
            including cooperative raid encounters, akin to those seen in Pokémon
            Go; the Wild Area, a fully explorable open world area with free
            camera movement and dynamic weather, which has implications on which
            Pokémon species appear at a given time; and "Dynamaxing" and
            "Gigantamaxing", both of which temporarily allow Pokémon to grow to
            larger sizes. Gigantamaxing is limited to select Pokémon and feature
            different forms from the Pokémon's normal appearance. A new mechanic
            called "Poké Jobs" tasks the player's Pokémon with completing
            requests, such as assisting in construction or cooking, to gain
            experience or rare items. In addition, Pokémon native to the game's
            region can be transferred to the games from the Nintendo 3DS app
            Pokémon Bank, Pokémon Go, and Pokémon: Let's Go, Pikachu! and Let's
            Go, Eevee! via the Pokémon Home service. Pokémon Gyms make a return
            after being absent in Sun, Moon, Ultra Sun, and Ultra Moon. As is
            typical with the series, the two games have version-exclusive
            content, such as available Pokémon and, for the first time, Gym
            Leaders. Some features from previous entries, such as Mega Evolution
            and Z-Moves, are absent from the games. A new 'Camp' mode allows the
            player to interact and play with their Pokémon and cook different
            types of curry to provide bonuses for Pokémon. New customization
            options for the player character have been added, like outerwear and
            other accessories. In most instances, the PC box can be accessed
            outside of Pokémon Centers, except when inside Gyms, for example.
          </p>
        </blockquote>
      </div>
    </section>

    <h1>Image Library</h1>
    <section id="library">
      <div class="slider">
        <div class="images">
          <input type="radio" name="slide" id="img1" />
          <input type="radio" name="slide" id="img2" />
          <input type="radio" name="slide" id="img3" />
          <input type="radio" name="slide" id="img4" />
          <input type="radio" name="slide" id="img5" />
          <input type="radio" name="slide" id="img6" />

          <img
            src="images/cgg/pokemon_sw/0.jpg"
            class="m1"
            alt="img1"
            checked
          />
          <img src="images/cgg/pokemon_sw/1.jpg" class="m2" alt="img2" />
          <img src="images/cgg/pokemon_sw/2.jpg" class="m3" alt="img3" />
          <img src="images/cgg/pokemon_sw/3.jpg" class="m4" alt="img4" />
          <img src="images/cgg/pokemon_sw/4.jpg" class="m5" alt="img5" />
          <img src="images/cgg/pokemon_sw/5.jpg" class="m6" alt="img6" />
        </div>
        <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
          <label for="img5"></label>
          <label for="img6"></label>
        </div>
      </div>
    </section>

    <form id="review" class="form" action="/review2" method="POST" )>
      <h1>Leave a review</h1>
      <div class="username">
        <h2>Username</h2>
        <input
          type="text"
          placeholder="Enter the name you want to display (more than 8 and less than 50 characters)"
          name="username"
          size="100"
          minlength="8"
          maxlength="50"
          autocomplete="off"
          required
        />
      </div>
      <div class="review">
        <h2>Your review</h2>
        <textarea
          type="text"
          placeholder="Leave your own impression of the game! (more than 50 and less than 1000 characters)"
          name="review"
          minlength="50"
          maxlength="1000"
          required
          rows="10"
          cols="200"
        ></textarea>
        <button class="review border-gradient border-gradient-purple" type="submit">
          Submit
        </button>
      </div>
    </form>

    <section id="posts">
      <h1>Reviews</h1>
      <ul class="review2">
        <% for(var i = reviews.length - 1; i >= 0; i--) {%>
        <li class="review2">
          <div class="comment-name-box">
            <span class="comment-name"><%= reviews[i].username %></span>
          </div>
          <pre class="comment-content"><%= reviews[i].review %></pre>
          <div class="comment-statistics">
            <button value="upvote" class="likes" id="upvote_<%=reviews[i]._id%>" onclick="upvote2('<%= reviews[i]._id %>')">
              <i class="fas fa-angle-double-up"></i> Upvotes <%= reviews[i].likes - 1 %>
            </button>
            <button value="upvote" class="dislikes" id="downvote_<%=reviews[i]._id%>" onclick="downvote2('<%= reviews[i]._id %>')">
              <i class="fas fa-angle-double-down"></i> Downvotes <%= reviews[i].dislikes + 1 %>
            </button>
          </div>
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
